{% load static %}

<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        {% block title %}
            Bt Real State
        {% endblock %}
    </title>


    <link rel="stylesheet" href="{% static '/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">

</head>
<body>

<!-- TOP BAR -->
{% include '../partials/_topbar.html' %}


<!-- NAV BAR -->
{% include '../partials/_navbar.html' %}


{% block content %}

{% endblock %}

<!-- Footer-->
{% include '../partials/_footer.html' %}

</body>


<script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
<script src="{% static 'js/bootstrap.bundle.min.js ' %}"></script>
<script src="{% static 'js/main.js' %} "></script>

</html>